<% @cocktails.each do |item| %>

    <div class="col-md-4 col-lg-4 col-xs-12 image-change">
      <%= link_to cocktail_path(item) do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path item.photo %>');">
      <div class="card-category"><%= Cocktail.new.fake %></div>
      <div class="card-description">
        <h2><%= item.name %></h2>
        <p>Featuring @ Bar Rey</p>
      </div>
      <img class="card-user avatar" src="https://kitt.lewagon.com/placeholder/users/reymon29">
        <!-- <a class="card-link" href="#"></a> -->
      </div>
      <% end %>
    </div>
  <% end %>
