<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <% @cocktails.each do |cocktail|  %>
        <%= image_tag cocktail.image_url, class: "card" %>
      <% end  %>
    </div>
  </div>
</div>

