<div class ="banner">
  <% @cocktails.each do |each| %>
  <div>
    <p>Better Layout is needed! Link to show works kinda</p>
  <%= link_to each.name, cocktail_path(each) %>

<% end %>
  </div>
</div>

