<div class="footer">
  <div class="footer-links">
    <%= link_to new_cocktail_path do %>
      <i class="far fa-clone"></i>
    <% end %>
     <%= link_to cocktails_path do %>
      <i class="fas fa-box"></i>
    <% end %>

  </div>
  <div class="footer-copyright">
    Hello <i class="fa fa-heart"></i> Made at Le Wagon
  </div>
</div>
